async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
pymongo
speedtest-cli
beautifulsoup4
bs4
Pillow
pytube
opencv-python-headless
uvloop
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
